body {
  background-color: #F5F8F8;
}

.container {
  background-color: #FFF;
  font-family: "Orbitron";
}
.container :hover {
  cursor: pointer;
}

.nav-bar {
  position: relative;
  width: 100%;
  color: #F4B350;
  background-color: #FFF;
  text-align: center;
}
.nav-bar-svg {
  position:absolute;
  fill: none;
  left: 0px;
}

.border-path {
  stroke: #DADDDD;
  stroke-width: 4;
  stroke-linecap: round;
  fill: none;
}
.fill-path {
  stroke: #DADDDD;
  stroke-width: 4;
  stroke-linecap: round;
  fill: #DADDDD;
}
.bkg-fill-path {
  stroke: none;
  fill: #FFF;
}
.primary-fill-path {
  stroke: none;
  fill: #F4B350;
}
.bar-fill-path {
  stroke: none;
  fill: #322812;
}
.mask-fill-path {
  stroke: none;
  fill: #DADDDD;
}
.grey-svg-text {
  fill: #DADDDD;
}
.orange-svg-text {
  fill: #F4B350;
}
.site-icon {
}
.ion-person {
  margin-left: 10px;
}
.nav-icon {
  color: black;
  font-size: 160%;
}

.logo-main {
  color: #F4B350;
  border: 4px solid #DADDDD;
  font-size: 300%;
  text-align: center;
  text-transform: uppercase;
  height: 6rem;
  line-height: 6rem;
  border-radius: 1rem;
  margin-top: 4rem;
  padding-top: 0.2rem;
}

.play-select-row {
  text-align: center;
  font-size: 120%;
  margin-top: 6rem;
}

.game-select-option {
  color: #FFF;
  background-color: #555;
  height: 4rem;
  line-height: 4rem;
  margin-top: 4rem;
  border-radius: 1rem;
  padding-top: 0.4rem;
}
#view-high-scores {
  background-color: #888;
  color: #CCC;
}

.game-area {
  position: relative;
}
.game-area-new-round {
  stroke: #555;
  stroke-width: 4;
  stroke-linecap: round;
}
.game-board {
  position: relative;
}
.game-area-svg {
  position: absolute;
  left: 0px;
}
.game-tile {
  position: absolute;
  background-color: #555;
  border-radius: 1rem;
}
.game-piece {
  position: absolute;
  border-radius: 50%;
}
.broken-piece {
  position: absolute;
  border-radius: 50%;
}
.game-breaks-text {
  font-size: 60%;
}
.game-element {
  position: absolute;
  /*border: solid 2px red;*/
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: #000;
  opacity: 0.4;
}
.alert-pane {
  position: absolute;
  z-index: 101;
  min-height: 8rem;
  background-color: #FFF;
  border-radius: 2rem;
  border: solid 4px #F4B350;
  opacity: 1;
  padding-bottom: 2rem;
}
.alert-exit {
  position: absolute;
  top: 2rem;
  right: 2.2rem;
  color: #F4B350;
}
.alert-info {
  position: absolute;
  font-family: "Orbitron";
  font-size: 1.8rem;
  color: #555;
  top: 2.2rem;
  left: 2.2rem;
}
.player-label-input {
  color: #555;
  line-height: 2.2rem;
  padding-left: 0.4rem;
  margin-right: 1rem;
}
.input-accept {
  font-size: 2rem;
}
.input-accept:hover {
  color: green;
}

.footer-row {
  position: fixed;
  bottom: 1rem;
}
.footer {
  text-align: center;
  font-size: 60%;
  color: #999;
}
