body {
  background-color: #F5F8F8;
}

.container {
  background-color: #FFF;
  font-family: "Orbitron";
}

.nav-bar {
  position: relative;
  width: 100%;
  color: #F4B350;
  background-color: #FFF;
  text-align: center;
}
.nav-bar-svg {
  position:absolute;
  left: 0px;
}

.border-path {
  stroke: #DADDDD;
  stroke-width: 4;
  stroke-linecap: round;
  fill: none;
}
.fill-path {
  stroke: #DADDDD;
  stroke-width: 4;
  stroke-linecap: round;
  fill: #DADDDD;
}
.bkg-fill-path {
  stroke: none;
  fill: #FFF;
}
.primary-fill-path {
  stroke: none;
  fill: #F4B350;
}
.bar-fill-path {
  stroke: none;
  fill: #322812;
}
.ion-person {
  margin-left: 10px;
}
.nav-icon {
  color: black;
  font-size: 160%;
}

.logo-main {
  color: #FFF;
  background-color: #333;
  font-size: 300%;
  text-align: center;
  text-transform: uppercase;
  height: 6rem;
  line-height: 6rem;
  border-radius: 1rem;
  margin-top: 4rem;
}

.play-select-row {
  text-align: center;
  font-size: 120%;
  margin-top: 6rem;
}

.game-select-option {
  color: #FFF;
  background-color: #555;
  height: 4rem;
  line-height: 4rem;
  margin-top: 4rem;
  border-radius: 1rem;
}
#select-two-player {
  background-color: #888;
  color: #CCC;
}

.game-area {
  position: relative;
}
.game-new-round {
  background-color: red;
  opacity: 0.2;
}
.game-board {
  position: relative;
}
.game-area-svg {
  position: absolute;
  left: 0px;
}
.game-tile {
  background-color: #555;
  border-radius: 1rem;
}
.game-piece {
  position: absolute;
  border-radius: 50%;
}
.game-breaks-text {
  font-size: 60%;
}
.game-element {
  position: absolute;
  /*border: solid 2px red;*/
}

.footer-row {
  position: fixed;
  bottom: 1rem;
}
.footer {
  text-align: center;
  font-size: 60%;
  color: #999;
}
